<div class="container mt-2 text-center">
  <%= form_tag :action => 'about' do %>
    <div class="mb-3">
      <label for="git_log_input" class="form-label">GitHub Login</label>
      <%= search_field :myform, :comments, class: 'form-control w-50 m-auto' %>
      <div id="helper" class="form-text">Enter GItHub login here to get list of repos</div>
    </div>
    <button type="submit" class="btn btn-secondary">Get data</button>
  <% end %>
</div>
